.team-member-card {
    margin-bottom: 15px;
    margin-top: 15px;
}
.team-member-card-inner {
    background-color:#F2F2F2;
    border-radius: 10px;
    padding: 30px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.team-member-photo {
    margin: 0 auto;
    height: 150px;
    width: 150px;
    border-radius: 150px;
    background-position: center;
    background-size: cover;
    background-color: grey;
}

.team-member-name {
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.team-member-title {
    text-align: center;
    color: #EA5651;
    font-size: 0.9em;
    margin: 0;
}

.team-member-social {
    text-align: center;
    font-size: 30px;
    margin-bottom: -20px;
    margin-top: -10px;
}

.team-member-social-icon {
    margin-right: 15px;
    margin-left: 15px;
    color: black;
}

.team-member-desc-holder {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.team-member-desc {
    font-size: 0.8em;
    text-align: center;
    font-weight: 600;
    margin: 0;
}

.team-members-container-inner {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
}