.logo{
    background-image:url('./@2xLogo.png');
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    width:230px;
    height:60px;
    display:inline-block;
    max-width:100%;
}
