.footer-download-container {
    background: linear-gradient(0deg, #31353E 0%, #192028 51.21%, #0B0F12 100%);
    padding: 90px 0;
}

.footer-download-header {
    line-height: 58px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
}

.footer-container {
    background-color: black;
    height: 118px;
}

.footer-item {
    height: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
}
